 .navbar {
     background-color: gold;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    text-align: center;
  }
  
  .navbar a {
    text-decoration: none;
    padding-left: 60px;
    font-weight: 900;
  }

  img{
      height: 60px;
      width: 60px;
  }

  .nav-item {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    padding-right: 60px;
  }
  
  @media (max-width: 420px) {
    .navbar li:first-child {
      width: 25%;
    }
  
    .navbar li:nth-child(2) {
      width: 35%;
    }
  
    .navbar li:last-child {
      width: 40%;
    }
  }
   