 .navbar {
    background-color: gold;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-align: center;
    z-index: 99;
    white-space: nowrap;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    text-align: center;
    /* width: 33.3%; */
  }
  
  .navbar a {
    text-decoration: none;
    padding-left: 60px;
    font-weight: 900;
  }

  img{
      height: 60px;
      width: 60px;
  }

  .nav-item {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    padding-right: 60px;
    text-align: center;
  }

  @media (max-width: 1100px) {
    .navbar a {
      padding: 0;
    }
    .nav-item{
      padding: 0;
    }
  }
  
  @media (max-width: 420px) {
    .navbar a {
      padding: 0;
    }

    .nav-item{
      padding: 0;
    }

  }
   